name: Sonarcloud
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    sonarcloud:
        runs-on: ubuntu-latest
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        steps:
            - uses: actions/setup-node@v6
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0
            - name: Install dependencies
              run: npm install
            - name: Test and coverage
              run: npm run test:cov
            - name: SonarCloud Scan
              uses: SonarSource/sonarqube-scan-action@v7.0.0
